@import url("reset.css");

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(255 255 255);
    font-family: Arial, sans-serif;
}

a {
    color: #000;
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 1fr auto;
    grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

main {
    grid-area: content;
}

.header-left-links a {
    margin: 0 0 0 15px;
}

.header-right-content {
    display: flex;
    align-items: center;
}

.header-apps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.header-apps:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.header-right-links {
    padding-right: 15px;
}

.header-right-links a {
    margin-left: 15px;
}

#app-icon {
    width: 17px;
    height: 17px;
    background-image: url("../images/googleicons.png");
    background-position: -138px -44px;
    opacity: 0.5;
}

#sign-in-btn {
    background-color:#1a73e8;
    opacity: 1;
    margin: 0 8px 0 8px;
    padding: 9px 23px 9px 23px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

#sign-in-btn:hover {
    text-decoration: none;
    opacity: 0.8;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

/* Footer */

footer {
    grid-area: footer;
    background-color: rgb(242 242 242);
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

footer a {
    padding: 15px;
}

.footer-flex-box {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
}

#location {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

@media (max-width: 1200px) {
    .footer-flex-box {
        display: flex;
        justify-content: space-evenly;
    }

    #footer-carbon-statement {
        display: flex;
        order: 0;
        width: 100%;
        justify-content:  center;
        margin: 0px;
    }

    #footer-carbon-statement a {
        padding: 0px;
    }

    #footer-left-links {
        order: 1;
    }

    #footer-right-links {
        order: 2;
    }
}